<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품목록</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body style="padding: 5rem; margin-left: 23rem;">
    <!-- 뒤로 가기 버튼 -->
    <a href="/" class="btn-back">
        <i class="fas fa-arrow-left"></i> 홈으로
      </a>

    <h2 class="section-title">전체 상품</h2>
    
    <div class="product-grid">
      <div class="product-card">
        <div class="product-image">
          <img src="/images/product1.png" alt="상추 1kg">
        </div>
        <div class="product-info">
          <h3 class="product-title">나는야 감자빵</h3>
          <p class="product-price">₩3,000</p>
          <p class="product-desc">국내산 감자, 앙금, 찹쌀</p>
          <div class="product-actions">
            <a href="/products/1" class="btn btn-outline">상세보기</a>
            <button class="btn btn-primary " data-id="1">장바구니</button>
          </div>
        </div>
      </div>
      
      <div class="product-card">
        <div class="product-image">
          <img src="/images/product2.png" alt="깻잎 500g">
        </div>
        <div class="product-info">
          <h3 class="product-title">내고향 고구마빵</h3>
          <p class="product-price">₩3,500</p>
          <p class="product-desc">국내산 고구마, 앙금, 찹쌀</p>
          <div class="product-actions">
            <a href="/products/2" class="btn btn-outline">상세보기</a>
            <button class="btn btn-primary" data-id="2">장바구니</button>
          </div>
        </div>
      </div>
      
      <div class="product-card">
        <div class="product-image">
          <img src="/images/product3.png" alt="사과 5kg">
        </div>
        <div class="product-info">
          <h3 class="product-title">내고향 밤빵</h3>
          <p class="product-price">₩3,500</p>
          <p class="product-desc">국내산 밤, 앙금, 찹쌀</p>
          <div class="product-actions">
            <a href="/products/3" class="btn btn-outline">상세보기</a>
            <button class="btn btn-primary" data-id="3">장바구니</button>
          </div>
        </div>
      </div>
      
     
    </div>
    
    <div class="product-grid">
        <div class="product-card">
            <div class="product-image">
              <img src="/images/product4.png" alt="한우 등심 200g">
            </div>
            <div class="product-info">
              <h3 class="product-title">내고향 옥수수빵</h3>
              <p class="product-price">₩4,000</p>
              <p class="product-desc">강원도 미백 찰옥수수</p>
              <div class="product-actions">
                <a href="/products/4" class="btn btn-outline">상세보기</a>
                <button class="btn btn-primary" data-id="4">장바구니</button>
              </div>
            </div>
          </div>

      <div class="product-card">
        <div class="product-image">
          <img src="/images/product5.png" alt="방울토마토 500g">
        </div>
        <div class="product-info">
          <h3 class="product-title">내고향 마늘빵</h3>
          <p class="product-price">₩5,000</p>
          <p class="product-desc">국내산 마늘, 치즈, 찹쌀</p>
          <div class="product-actions">
            <a href="/products/5" class="btn btn-outline">상세보기</a>
            <button class="btn btn-primary" data-id="5">장바구니</button>
          </div>
        </div>
      </div>
      
      <div class="product-card">
        <div class="product-image">
          <img src="/images/product6.png" alt="오렌지 2kg">
        </div>
        <div class="product-info">
          <h3 class="product-title">내고향 대파빵</h3>
          <p class="product-price">₩5,000</p>
          <p class="product-desc">국내산 대파, 치즈, 찹쌀</p>
          <div class="product-actions">
            <a href="/products/6" class="btn btn-outline">상세보기</a>
            <button class="btn btn-primary" data-id="6">장바구니</button>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</body>
</html>
