<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #EDE8E4;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 화면 높이만큼 꽉 채워서 중앙정렬 가능하게 */
            margin: 0; /* 기본 마진 제거 */

        }
        h1 {
            color: #333;
            padding: 10px;
        }
        form {
            width: 300px; /* 가로 넓이 크게 */
        }
        input {
            width: 100%;
            padding: 15px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 10px;
            border-style: none;
        }
        button {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>

    <h1>회원가입</h1>

    <form action="/user/register" method="post">
        <input type="text" name="username" placeholder="아이디" required><br>
        <input type="text" name="name" placeholder="이름" required><br>
        <input type="password" name="password" placeholder="비밀번호" required><br>
        <button type="submit">가입하기</button>
    </form>

    

</body>
</html>